<div class="sharing">
<a href="https://twitter.com/intent/tweet?status={{ .Title }}-{{ .Permalink }}" target="_blank" title="Follow me on Twitter" class="twitter">
<span class="fa fa-twitter-square fa-3x"></span></a>
<a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" title="Join me on Facebook" class="facebook">
<span class="fa fa-facebook-square fa-3x"></span></a>
<a href="https://plus.google.com/share?url={{ .Permalink }}" target="_blank" title="Google+" class="googleplus">
<span class="fa fa-google-plus-square fa-3x"></span></a>
<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}" target="_blank" title="LinkedIn" class="linkedin">
<span class="fa fa-linkedin-square fa-3x"></span></a>
<a href="http://www.reddit.com/submit?url={{ .Permalink }}" target="_blank" title="Reddit" class="reddit"><span class="fa fa-reddit-square fa-3x"></span></a>
<a href="http://www.stumbleupon.com/submit?url={{ .Permalink }}" target="_blank" title="StumbleUpon" class="stumbleupon"><span class="fa fa-stumbleupon fa-3x">
</span></a>
</div>