<nav class="cover-navigation navigation--social">
    <ul class="navigation"> {{ if .Site.Params.twitter }}
        <!-- Twitter -->
        <li class="navigation__item">
            <a href="http://twitter.com/{{ .Site.Params.twitter }}" title="@{{ .Site.Params.twitter }} on Twitter"> <i class='fa fa-tt'></i> <span class="label">Twitter</span> </a>
        </li> {{ end }} {{ if .Site.Params.bitbucket }}
        <!-- Bitbucket -->
        <li class="navigation__item">
            <a href="https://bitbucket.org/{{ .Site.Params.bitbucket }}" title="{{ .Site.Params.bitbucket }} on bitbucket"> <i class='fa fa-bitbucket'></i> <span class="label">Bitbucket</span> </a>
        </li> {{ end }} {{ if .Site.Params.github }}
        <!-- github -->
        <li class="navigation__item">
            <a href="https://github.com/{{ .Site.Params.github }}" title="{{ .Site.Params.github }} on github"> <i class='fa fa-github'></i> <span class="label">Github</span> </a>
        </li> {{ end }} </br> {{ if .Site.Params.flickr }}
        <!-- Flickr -->
        <li class="navigation__item">
            <a href="http://www.flickr.com/photos/{{ .Site.Params.flickr }}/" title="{{ .Site.Params.flickr }} on flickr"> <i class='fa fa-fl'></i> <span class="label">Flickr</span> </a>
        </li> {{ end }} {{ if .Site.Params.linkedin }}
        <!-- Linkedin -->
        <li class="navigation__item">
            <a href="http://no.linkedin.com/in/{{ .Site.Params.linkedin }}/en" title="Linkedin"> <i class='fa fa-ll'></i> <span class="label">Linkedin</span> </a>
        </li> {{ end }} {{ if .Site.Params.email }}
        <!-- Email -->
        <li class="navigation__item">
            <a href="mailto:{{ .Site.Params.email }}" title="Email {{ .Site.Params.email }}"> <i class='fa fa-envelope-o'></i> <span class="label">Email</span> </a>
        </li> {{ end }} </ul>
</nav>
